<!doctype html>
<html lang="vi" class="no-js">
<head>
    <!-- Google Tag Manager oRo -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0]
                , j = d.createElement(s)
                , dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        }
        )(window, document, 'script', 'dataLayer', 'GTM-KGMBMFG');
    </script>
    <!-- End Google Tag Manager oRo -->
    <!-- Facebook Pixel Code (new) -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)
                return;
            n = f.fbq = function () {
                n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }
                ;
            if (!f._fbq)
                f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '576957396163726');
        fbq('track', 'PageView');
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- End Facebook Pixel Code -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="facebook-domain-verification" content="oku5uc1u94mc572bqwyijvpte6rnnt" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha384-ZwVa1S/NX6dEzJaHv2OILVrnj7ERqTH6pd/ubsDTHTrgAEz2kUufO/KLo6frtnOB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/css/magnify.min.css" integrity="sha384-zgeBTQFrgFlfbkIvYYXfMlTh2T2Irl05Ne3hMa9yrQO02yp/zTT/PMtwFc5wrVot" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Mall.css" />

    <link rel="stylesheet" href="https://www.aeon.com.vn/wp-content/themes/aeon/css/custom.css?v=02072023">
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <link rel="alternate" href="https://www.aeon.com.vn/" hreflang="vi" />
    <link rel="alternate" href="https://www.aeon.com.vn/en/" hreflang="en" />
    <!-- This site is optimized with the Yoast SEO Premium plugin v17.7 (Yoast SEO v17.7) - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Trang chủ - Babicutemall</title>
    <link rel="canonical" href="https://www.aeon.com.vn/" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Trang chủ" />
    <meta property="og:url" content="https://www.aeon.com.vn/" />
    <meta property="og:site_name" content="AEON Việt Nam" />
    <meta property="article:modified_time" content="2023-06-30T10:03:56+00:00" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- / Yoast SEO Premium plugin. -->
    <link rel='dns-prefetch' href='//www.aeon.com.vn' />
    <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "https:\/\/www.aeon.com.vn\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.2"
            }
        };
        !function (e, a, t) {
            var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d");
            function s(e, t) {
                var a = String.fromCharCode;
                p.clearRect(0, 0, i.width, i.height),
                    p.fillText(a.apply(this, e), 0, 0);
                e = i.toDataURL();
                return p.clearRect(0, 0, i.width, i.height),
                    p.fillText(a.apply(this, t), 0, 0),
                    e === i.toDataURL()
            }
            function c(e) {
                var t = a.createElement("script");
                t.src = e,
                    t.defer = t.type = "text/javascript",
                    a.getElementsByTagName("head")[0].appendChild(t)
            }
            for (o = Array("flag", "emoji"),
                t.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                },
                r = 0; r < o.length; r++)
                t.supports[o[r]] = function (e) {
                    if (!p || !p.fillText)
                        return !1;
                    switch (p.textBaseline = "top",
                    p.font = "600 32px Arial",
                    e) {
                        case "flag":
                            return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
                        case "emoji":
                            return !s([10084, 65039, 8205, 55357, 56613], [10084, 65039, 8203, 55357, 56613])
                    }
                    return !1
                }(o[r]),
                    t.supports.everything = t.supports.everything && t.supports[o[r]],
                    "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
            t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag,
                t.DOMReady = !1,
                t.readyCallback = function () {
                    t.DOMReady = !0
                }
                ,
                t.supports.everything || (n = function () {
                    t.readyCallback()
                }
                    ,
                    a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1),
                        e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n),
                            a.attachEvent("onreadystatechange", function () {
                                "complete" === a.readyState && t.readyCallback()
                            })),
                    (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji),
                        c(n.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="chrome-webstore-item icon" type="jpg" href="~/favicon.ico" />
    <link rel='stylesheet' id='wp-block-library-css' href='https://www.aeon.com.vn/wp-includes/css/dist/block-library/style.min.css?ver=5.8.2' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='https://www.aeon.com.vn/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='aeon-dflip-css' href='https://www.aeon.com.vn/wp-content/themes/aeon/css/dflip.css?ver=5.8.2' type='text/css' media='all' />
    <link rel='stylesheet' id='aeon-themify-icons-css' href='https://www.aeon.com.vn/wp-content/themes/aeon/css/themify-icons.css?ver=5.8.2' type='text/css' media='all' />
    <link rel='stylesheet' id='aeon-style-addition-ver2-css' href='https://www.aeon.com.vn/wp-content/themes/aeon/css/main-addition-ver2.css?ver=20200826' type='text/css' media='all' />
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-content/themes/aeon/js/dflip.min.js?ver=5.8.2' id='aeon-dflip-js'></script>

    <script type='text/javascript' src='https://www.aeon.com.vn/wp-content/themes/aeon/js/vendor/pdf.min.js?ver=5.8.2' id='aeon-pdf-js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js?ver=20200320' id='aeon-owl-carousel-min-js'></script>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <link rel="icon" href="https://www.aeon.com.vn/wp-content/uploads/2018/06/aeon-favi-150x150.png" sizes="32x32" />
    <link rel="icon" href="https://www.aeon.com.vn/wp-content/uploads/2018/06/aeon-favi-360x360.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://www.aeon.com.vn/wp-content/uploads/2018/06/aeon-favi-360x360.png" />
    <meta name="msapplication-TileImage" content="https://www.aeon.com.vn/wp-content/uploads/2018/06/aeon-favi-360x360.png" />
    <style type="text/css" id="wp-custom-css">
        .page-template-page-faq #main-content > .container {
            min-height: 100vh;
        }

        .box-hotline__content a:hover, .box-hotline__content a:visited {
            color: #fff;
            text-decoration: none;
        }

        .box-hotline__content a:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .box-hotline {
            position: relative;
        }

        .page-template-page-preferential .content ol, .page-template-page-preferential .content ol > li {
            list-style: decimal;
        }

            .page-template-page-preferential .content ol > li + li {
                margin-top: 30px;
            }

        .page-template-page-preferential .content ul, .page-template-page-preferential .content ul > li {
            list-style: circle;
        }

        .page-template-page-preferential .content ul {
            padding-left: 30px;
        }
    </style>
    <style>
        .scroll-to-top-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 50%;
            font-size: 20px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s;
        }

            .scroll-to-top-btn.show {
                opacity: 1;
                visibility: visible;
            }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) oRo -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGMBMFG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) oRo -->
    <header class="header">
        <div class="header-inner">
            <div class="header-top">
                <div class="container">
                    <div class="header-top__inner">
                        <a class="header-top__inner__item location has-icon" href="/#branch">Tìm BabicuteMall gần bạn</a>
                        <div class="header-top__inner__item start-time has-icon">Giờ mở cửa</div>
                        <div class="header-top__inner__item">
                            <div class="start-times">
                                <span>Siêu thị: 8:00 - 22:00 (T2 - CN)</span>
                            </div>
                            <div class="start-times">
                                <span>TT Bách Hoá: 10:00 - 22:00 (T2 - T6)/9:00 - 22:00 (T7, CN &amp;Lễ)</span>
                            </div>
                        </div>
                        <div class="header-top__inner__item language">
                            <span class="active">
                                <a href="#">VN</a>
                            </span>
                            <span class="">
                                <a href="#">EN</a>
                            </span>
                        </div>
                        <div class="header-top__inner__item search">
                            <form method="get" action="">
                                <input type="text" name="s" />
                            </form>
                        </div>
                        <div class="header-top__inner__item social">
                            <a class="social-item" href="#" title="Facebook" target="_blank" style="background: #19A7CE">
                                <img src="~/Images/fb.jpg" alt="" width="25" height="25" style="border-radius:2px;">
                            </a>
                            <a class="social-item" href="#" title="Instagram" target="_blank">
                                <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/icon/Instagram.svg" alt="">
                            </a>

                            <a class="social-item" href="#" title="YouTube" target="_blank">
                                <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/icon/YouTube.svg" alt="">
                            </a>
                            <a class="social-item" href="#" title="Tiktok" target="_blank">
                                <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/icon/Tiktok.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="header-nav">
            <div class="container">
                <div class="header-nav__inner">
                    <a class="header-logo" href="~/Sukien/Index">
                        <img src="~/Images/logoMall.png" alt="Mall logo" />
                    </a>
                    <div class="header-nav__sp">
                        <div class="language">
                            <span class="active">
                                <a href="#">VN</a>
                            </span>
                            <span class="">
                                <a href="#">EN</a>
                            </span>
                        </div>
                        <div class="search">
                            <form method="get" action="">


                                <input type="text" lass="form-control" name="s" />

                            </form>
                        </div>
                        <div class="btn-menu">
                            <div class="btn-menu__icon">
                                <div class="lines one disableAnimation"></div>
                                <div class="lines two disableAnimation"></div>
                                <div class="lines three disableAnimation"></div>
                            </div>
                        </div>
                    </div>
                    <nav class="navigation header-menu">
                        <ul id="menu-main-menu-vn" class="nav navigation-bar">
                            <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-15  active">
                                <a href="~/Sukien/Index" aria-current="page">Trang chủ</a>
                            </li>
                            <li id="menu-item-3567" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3567  has-sub-menu">
                                <a href="#">
                                    Khuyến mãi &#038;Sự kiện <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-3567" aria-expanded="false" aria-controls="sub-menu-11"></i>
                                </a>
                                <ul / class="sub-menu" id="sub-menu-3567" />

                            <li id="menu-item-13756" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13756 ">
                                <a href="#">Giá thấp mỗi ngày</a>
                            </li>
                            <li id="menu-item-3568" class="no-highlight menu-item menu-item-type-custom menu-item-object-custom menu-item-3568 ">
                                <a href="#">Thứ 4 vui vẻ</a>
                            </li>
                            <li id="menu-item-20" class="no-highlight menu-item menu-item-type-post_type_archive menu-item-object-event menu-item-20 ">
                                <a href="#">Khuyến mại &#038;sự kiện</a>
                            </li>
                            <li id="menu-item-20" class="no-highlight menu-item menu-item-type-post_type_archive menu-item-object-event menu-item-20 ">
                                <a href="~/Danhmuc/FilterResults">Danh mục cửa hàng</a>
                            </li>
                        </ul>

                        <li id="menu-item-1606" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1606  has-full-sub-menu has-sub-menu">
                            <a href="#">
                                Chương trình thành viên <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-1606" aria-expanded="false" aria-controls="sub-menu-11"></i>
                            </a>
                            <ul / class="sub-menu" id="sub-menu-1606" />
                        <li id="menu-item-2559" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2559 submenu-col has-sub-menu">
                            <a>
                                Thẻ thành viên BabicuteMall MEMBER <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-2559" aria-expanded="false" aria-controls="sub-menu-11"></i>
                            </a>
                            <ul / class="sub-menu" id="sub-menu-2559" />
                        <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27 ">
                            <a href="#">Quyền lợi thành viên</a>
                        </li>
                        <li id="menu-item-1292" class="menu-item menu-item-type-taxonomy menu-item-object-event_category menu-item-1292 ">
                            <a href="#">Khuyến mại thành viên</a>
                        </li>

                        <li id="menu-item-2567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2567 ">
                            <a href="#">Các câu hỏi thường gặp</a>
                        </li>

                        </ul></li>

                        <li id="menu-item-3877" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3877 submenu-col has-sub-menu">
                            <a>
                                Ứng dụng di động BabicuteMall VIETNAM <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-3877" aria-expanded="false" aria-controls="sub-menu-11"></i>
                            </a>
                            <ul / class="sub-menu" id="sub-menu-3877" />
                        <li id="menu-item-3984" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3984 ">
                            <a href="#">Hướng dẫn cài đặt và sử dụng</a>
                        </li>

                        <li id="menu-item-4614" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4614 ">
                            <a href="#">Chính sách bảo mật thông tin cá nhân</a>
                        </li>
                        </ul></li>

                        </ul></li>
                        <li id="menu-item-1607" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1607  has-sub-menu">
                            <a href="#">
                                Dịch vụ <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-1607" aria-expanded="false" aria-controls="sub-menu-11"></i>
                            </a>
                            <ul / class="sub-menu" id="sub-menu-1607" />
                        <li id="menu-item-11412" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11412 ">
                            <a href="#">Mua sắm online giao hàng tận tay</a>
                        </li>
                        <li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62 ">
                            <a href="#">Mua hàng trả chậm</a>
                        </li>
                        <li id="menu-item-5502" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5502 ">
                            <a href="#">Thuê hội trường</a>
                        </li>
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63 ">
                            <a href="~/MatBang/Index">Cho thuê mặt bằng</a>
                        </li>

                        <li id="menu-item-1342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1342 ">
                            <a href="#">Thuê sảnh tổ chức sự kiện</a>
                        </li>
                        </ul></li>


                        <li id="menu-item-4972" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4972  has-sub-menu">
                            <a href="#">
                                Hệ thống BabicuteMall <i class="icon-down-arrow" role="button" data-toggles="collapse" href="#sub-menu-4972" aria-expanded="false" aria-controls="sub-menu-11"></i>
                            </a>
                            <ul / class="sub-menu" id="sub-menu-4972" />
                        <li id="menu-item-12597" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12597 ">
                            <a href="#">BabicuteMall MaxValue</a>
                        </li>
                        <li id="menu-item-12810" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12810 ">
                            <a href="#">BabicuteMall The Nine</a>
                        </li>
                        <li id="menu-item-12811" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12810 ">
                            <a href="~/NguoiDung/DangKy">Đăng ký thành viên</a>
                        </li>
                        <li id="menu-item-12812" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12810 ">
                            <a href="#">Đăng nhập</a>
                            <ul / class="sub-menu" id="sub-menu-3878" />
                        <li id="menu-item-3985" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3984 ">
                            <a href="~/NguoiDung/DangNhap">Đăng nhập thành viên</a>
                        </li>

                        <li id="menu-item-4615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4614 ">
                            <a href="~/Admin/DangNhap">Đăng nhập nhân viên</a>
                        </li>

                        </ul>
                        </li>
                        <li id="menu-item-12811" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12810 ">
                            <a href="@Url.Action("Dangxuat","NguoiDung")">Đăng xuất</a>
                        </li>

                        </ul></li>
                        <li class="header-menu__time">
                            <div class="time-row">
                                <div class="time-txt">Giờ hoạt động</div>
                                <div class="time-info">
                                    <p>Siêu thị: 8:00 - 22:00 (T2 - CN)</p>
                                    <p>TT Bách Hóa:</p>
                                    <p>10:00 - 22:00 (T2 - T6)</p>
                                    <p>9:00 - 22:00 (T7, CN &amp;Lễ)</p>
                                </div>
                            </div>
                        </li>
                        <li class="header-menu__footer">
                            <div class="header-menu__footer__row">
                                <div class="footer-social">
                                    <a class="social-item" href="https://www.facebook.com/AeonVietnamPage/">
                                        <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/icon/Facebook.svg" alt="">
                                    </a>
                                    <a class="social-item" href="https://www.instagram.com/aeonvn.trendy/">
                                        <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/icon/Instagram.svg" alt="">
                                    </a>
                                    <a class="social-item" href="https://zalo.me/2124770270367288311">
                                        <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/icon/Zalo.svg" alt="">
                                    </a>
                                    <a class="social-item" href="https://www.youtube.com/channel/UChod2LDWQx0homJ690IaZ_g">
                                        <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/icon/YouTube.svg" alt="">
                                    </a>
                                    <a class="social-item" href="https://www.tiktok.com/aeonvietnamofficial?">
                                        <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/icon/Tiktok.svg" alt="">
                                    </a>
                                </div>
                                <a class="location" href="#branch">Tìm siêu thị gần bạn</a>
                            </div>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
    </header>
    <div class="sticky" style="opacity: 1; z-index: 11;">
        <!-- <a class="sticky-app" href="/ung-dung-di-dong-aeon-vietnam/"><img src="#" alt=""></a> -->
        <div class="btn-app">
            <img src="#" alt="">
        </div>
        <a class="sticky-shop" href="#">
            <img src="#" alt="">
        </a>
        <!-- popup -->
        <div class="popup-app" style="display: none">
            <p>Bấm vào Google Play hoặc App Store hoặc quét mã QR để tải ứng dụng</p>
            <div class="pa-close">
                <span>&times;</span>
            </div>
            <div class="pupup-app__inner">
                <div class="pa-item">
                    <div class="pa-link">
                        <a href="" target="_blank">App Store</a>
                    </div>
                    <div class="pa-link">
                        <a href="" target="_blank">Google Play</a>
                    </div>
                </div>
                <div class="pa-item">
                    <img src="#" alt="">
                </div>
            </div>
        </div>
    </div>
    <button id="scrollToTopBtn" class="scroll-to-top-btn" title="Lên đầu trang">↑</button>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var closeButton = document.querySelector(".close--modal");
            closeButton.addEventListener("click", function () {
                var modal = document.querySelector("#modal-index");
                modal.style.display = "none";
            });
        });


        document.addEventListener("DOMContentLoaded", function () {
            var scrollToTopBtn = document.querySelector("#scrollToTopBtn");

            // Hiển thị hoặc ẩn nút khi cuộn trang
            window.addEventListener("scroll", function () {
                if (window.pageYOffset > 100) {
                    scrollToTopBtn.classList.add("show");
                } else {
                    scrollToTopBtn.classList.remove("show");
                }
            });

            // Chuyển về đầu trang khi nhấp vào nút
            scrollToTopBtn.addEventListener("click", function () {
                scrollToTop(1000); // Gọi hàm scrollToTop với giá trị thời gian 1000ms (1 giây)
            });
        });

        // Hàm để cuộn mượt lên đầu trang với thời gian chỉ định
        function scrollToTop(scrollDuration) {
            var scrollStep = -window.scrollY / (scrollDuration / 15),
                scrollInterval = setInterval(function () {
                    if (window.scrollY !== 0) {
                        window.scrollBy(0, scrollStep);
                    } else clearInterval(scrollInterval);
                }, 15);
        }
    </script>

    <main class="main">
        <div id="modal-index" style="display: block;">
            <div class="modal-index-content">

                <i class="icon-close close--modal">x</i>
                <a href="#" target="_blank">
                    <img class="hidden-xs" src="~/Images/poster.png" alt="MUA SẮM ONLINE">

                </a>
            </div>
        </div>
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="width:100%; height:700px;" src="~/Images/banner4.png" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                    <img style="width:100%; height:700px;" src="~/Images/banner3.png" alt="Chicago">
                </div>
                <div class="carousel-item">
                    <img style="width:100%; height:700px;" src="~/Images/banner1.png" alt="New York">
                </div>
                <div class="carousel-item">
                    <img style="width:100%; height:700px;" src="~/Images/banner2.png" alt="Chicago">
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <div class="promotion">
            <div class="promotion-block">
                <div class="title-tag">
                    <span>Ưu đãi từ BabicuteMall</span>
                </div>
                <div class="promotion-block__inner">
                    <div class="container">
                        <div class="promotion-inner">
                            <div class="promotion-row">
                                <div class="promotion-left">
                                    <div class="handbook" style="background-color: #AFD3E2;">
                                        <div class="handbook-header" style="background-color: #19A7CE;">
                                            <div class="handbook-header__title">CẨM NANG MUA SẮM</div>

                                        </div>
                                        <div class="handbook-body">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/sKLSqjnMQ-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                                        </div>
                                        <!--<div class="handbook-footer">
                                            <a class="btn btn-main shadow _df_button" backgroundcolor="#19A7CE">
                                                <span class="btn-txt">Miền Bắc</span>
                                            </a>
                                            <a class="btn btn-main shadow _df_button" backgroundcolor="#19A7CE">
                                                <span class="btn-txt">Miền Nam</span>
                                            </a>
                                        </div>-->
                                    </div>
                                    <h2 style="color:black;font-size:20px;text-align:center;font-weight:600;margin:15px">
                                        XEM GÌ HÔM NAY ?
                                    </h2>
                                    <div class="promotion-row">

                                        <hr />
                                        <div class="promotion-left">

                                            <div class="container">
                                                <div style="display:inline">
                                                    <img width="203" height="500" src="~/Images/salemall.png">
                                                </div>

                                            </div>

                                        </div>
                                        <div class="promotion-right">
                                            <div class="container">
                                                <div style="display:inline">
                                                    <img width="203" height="500" src="~/Images/salemall1.png">
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="promotion-right">
                                    <div class="promotion-program">
                                        <a class="promotion-program__item pc-appear" href="/gia-thap-moi-ngay/">
                                            <img style="border-radius: 4px;width:612px;" src="~/Images/tenor_1.gif" alt="Thứ 4 vui vẻ" />
                                        </a>
                                        <h2 style="color:black;font-size:20px;text-align:center;font-weight:600;margin:15px">
                                            MẶT BẰNG HOT TẠI BABICUTEMALL
                                        </h2>
                                        <div id="demo1" class="carousel slide" data-ride="carousel">

                                            <!-- Indicators -->
                                            <ul class="carousel-indicators">
                                                <li data-target="#demo1" data-slide-to="0" class="active"></li>
                                                <li data-target="#demo1" data-slide-to="1"></li>
                                                <li data-target="#demo1" data-slide-to="2"></li>
                                                <li data-target="#demo1" data-slide-to="3"></li>
                                                <li data-target="#demo1" data-slide-to="4"></li>
                                            </ul>

                                            <!-- The slideshow -->
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <a class="promotion-program__item pc-appear" href="#">
                                                        <img style="border-radius: 4px;" src="~/Images/matbang.png" alt="Mall" height="220" />
                                                    </a>
                                                </div>
                                                <div class="carousel-item">
                                                    <a class="promotion-program__item pc-appear" href="#">
                                                        <img style="border-radius: 4px;" src="~/Images/matbangtang1.png" alt="Mall" height="220" />
                                                    </a>
                                                </div>
                                                <div class="carousel-item">
                                                    <a class="promotion-program__item pc-appear" href="#">
                                                        <img style="border-radius: 4px;" src="~/Images/matbangtang2.png" alt="Mall" height="220" />
                                                    </a>
                                                </div>
                                                <div class="carousel-item">
                                                    <a class="promotion-program__item pc-appear" href="#">
                                                        <img style="border-radius: 4px;" src="~/Images/matbang.png" alt="Mall" height="220" />
                                                    </a>
                                                </div>

                                            </div>

                                            <!-- Left and right controls -->
                                            <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#demo1" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>

                                        <button class="btn text-uppercase btn-xs-mini btn-hover btn-outline-dark btn-block">
                                            <span class="hover-span" style="top: 107.938px; left: 64.5px;"></span>
                                            <a href="~/MatBang/Index" style="text-decoration:none;font-size:14px;color:black;">
                                                <span class="font-weight-bold pr-2">Tham khảo mặt bằng ngay</span>
                                            </a>
                                            <i class="zmdi zmdi-long-arrow-right font-weight-bold"></i>
                                        </button>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderBody()



            </div>

        </div>

        <div class="service">
            <div class="container">
                <div class="service-row">
                    <div class="service-left">
                        <div class="title-tag">
                            <span>Dịch Vụ Tiện Ích</span>
                        </div>
                        <div class="service-slide" style="border: 2px solid #19A7CE;">
                            <div class="service-slide__inner">
                                <!-- Case: fisrt item in the pagination -->
                                <!-- Case: fisrt item in the pagination -->
                                <div class="service-slide__item">
                                    <div class="service-list">
                                        <div class="service-list__item">
                                            <a href="/dich-vu/mua-sam-qua-dien-thoai/">
                                                <div class="service-list__img">
                                                    <img class="img-responsive" src="~/Images/icon1.png" alt="Mua sắm qua điện thoại">
                                                </div>
                                                <div class="service-list__txt">Mua sắm qua điện thoại</div>
                                            </a>
                                        </div>
                                        <!-- Case: NOT last item in the whole list  -->
                                        <!-- Case: NOT last item in the whole list  -->
                                        <!-- Case: NOT last item in the whole list  -->
                                        <!-- Case: NOT last item in the whole list  -->
                                        <div class="service-list__item">
                                            <a href="/quyen-loi-thanh-vien/">
                                                <div class="service-list__img">
                                                    <img class="img-responsive" src="~/Images/icon2.png" alt="Đăng ký tài khoản thành viên miễn phí">
                                                </div>
                                                <div class="service-list__txt">Đăng ký tài khoản thành viên miễn phí</div>
                                            </a>
                                        </div>
                                        <!-- Case: item 6th in the pagination -->
                                        <div class="service-list__item">
                                            <a href="/dich-vu/tien-ich-khac/">
                                                <div class="service-list__img">
                                                    <img class="img-responsive" src="~/Images/icon3.png" alt="Đổi trả hàng">
                                                </div>
                                                <div class="service-list__txt">Đổi trả hàng</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Case: fisrt item in the pagination -->
                                <!-- Case: fisrt item in the pagination -->
                                <div class="service-slide__item">
                                    <div class="service-list">
                                        <div class="service-list__item">
                                            <a href="/dich-vu/tien-ich-khac/">
                                                <div class="service-list__img">
                                                    <img class="img-responsive" src="~/Images/icon4.jpg" alt="Gói quà miễn phí">
                                                </div>
                                                <div class="service-list__txt">Gói quà miễn phí</div>
                                            </a>
                                        </div>
                                        <!-- Case: NOT last item in the whole list  -->
                                        <div class="service-list__item">
                                            <a href="/dich-vu/tien-ich-khac/">
                                                <div class="service-list__img">
                                                    <img class="img-responsive" src="~/Images/icon6.jpg" alt="Lưu giữ, hoàn trả hàng đánh rơi">
                                                </div>
                                                <div class="service-list__txt">Lưu giữ, hoàn trả hàng đánh rơi</div>
                                            </a>
                                        </div>
                                        <!-- Case: NOT last item in the whole list  -->
                                        <div class="service-list__item">
                                            <a href="/dich-vu/tien-ich-khac/">
                                                <div class="service-list__img">
                                                    <img class="img-responsive" src="~/Images/icon5.jpg" alt="Phát quà khuyến mãi">
                                                </div>
                                                <div class="service-list__txt">Phát quà khuyến mãi</div>
                                            </a>
                                        </div>
                                        <!-- Case: NOT last item in the whole list  -->
                                        <!-- Case: NOT last item in the whole list  -->
                                        <!-- Case: item 6th in the pagination -->

                                    </div>
                                </div>
                                <!-- Case: fisrt item in the pagination -->
                                <!-- Case: fisrt item in the pagination -->
                                <div class="service-slide__item">
                                    <div class="service-list">
                                        <div class="service-list__item">
                                            <a href="/dich-vu/tien-ich-khac/">
                                                <div class="service-list__img">
                                                    <img class="img-responsive" src="~/Images/icon8.png" alt="Giữ xe miễn phí">
                                                </div>
                                                <div class="service-list__txt">Giữ xe miễn phí</div>
                                            </a>
                                        </div>
                                        <!-- Case: NOT last item in the whole list  -->
                                        <div class="service-list__item">
                                            <a href="/dich-vu/tien-ich-khac/">
                                                <div class="service-list__img">
                                                    <img class="img-responsive" src="~/Images/icon7.png" alt="Bảo trì xe đạp">
                                                </div>
                                                <div class="service-list__txt">Bảo trì xe đạp</div>
                                            </a>
                                        </div>
                                        <!-- Case: last item in the whole list  -->
                                        <div class="service-list__item">
                                            <a href="/dich-vu/tien-ich-khac/">
                                                <div class="service-list__img">
                                                    <img class="img-responsive" src="~/Images/icon9.png" alt="Phát hành phiếu mua hàng (Chiết khấu,...">
                                                </div>
                                                <div class="service-list__txt">Phát hành phiếu mua hàng (Chiết khấu,...</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-right">
                        <img src="~/Images/anhthuongmai.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="wallet">
            <div class="container">
                <div class="wallet-inner">
                    <div class="wallet-title">Mua sắm không tiền mặt tại BabicuteMall</div>
                    <div class="wallet-list">
                        <div class="wallet-list__item">
                            <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/wallet/momo.png" alt="" />
                        </div>
                        <div class="wallet-list__item">
                            <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/wallet/vnpay.png" alt="" />
                        </div>
                        <div class="wallet-list__item">
                            <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/wallet/grabpay.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="trademark">
            <div class="container">
                <div class="trademark-inner">
                    <div class="trademark-title">Thương hiệu tại BabicuteMall</div>
                    <div class="trademark-slide" style="display: flex; flex-wrap: wrap;">
                        <a href="http://katinat.vn/" title="Katinat" class="trademark-item" target="_blank">
                            <img width="400" height="200" src="~/Images/katinat.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" />
                        </a>
                        <a href="https://phuclong.com.vn/" title="PhucLong" class="trademark-item" target="_blank">
                            <img width="400" height="200" src="~/Images/phuclong.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" />
                        </a>
                        <a href="https://tocotocotea.com/" title="Tocotoco" class="trademark-item" target="_blank">
                            <img width="400" height="200" src="~/Images/tocotoco.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" />
                        </a>
                        <a href="https://www.highlandscoffee.com.vn/" title="Highland" class="trademark-item" target="_blank">
                            <img width="400" height="200" src="~/Images/hailan.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" />
                        </a>
                        <a href="https://trasuamixue.online/" title="Mixue" class="trademark-item" target="_blank">
                            <img width="400" height="200" src="~/Images/mixue.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" />
                        </a>
                        <a href="https://www.aeon.com.vn/brand/home-coordy/" title="Home Coordy" class="trademark-item" target="_blank">
                            <img width="400" height="200" src="https://www.aeon.com.vn/wp-content/uploads/2020/12/logo.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" />
                        </a>


                    </div>
                </div>
            </div>
        </div>

        <script src="https://afarkas.github.io/lazysizes/lazysizes.min.js" integrity="sha384-3gT/vsepWkfz/ff7PpWNUeMzeWoH3cDhm/A8jM7ouoAK0/fP/9bcHHR5kHq2nf+e" crossorigin="anonymous"></script>
        <!--
         <div class="contact" id="contact_info">
            <div class="container">
                <div class="contact-inner">
                    <div class="contact-row">
                        <div class="contact-info">
                            <div class="contact-info__item">
                                <div class="contact-info__title">Văn phòng chính</div>
                                <div class="contact-info__address contact-info__icon sp-appear">Số 30 đường Tân Thắng, Phường Sơn Kỳ, Quận Tân Phú, Tp.Hồ Chí Minh.</div>
                                <div class="contact-info__time contact-info__icon">(Thứ 2 - Thứ 6 – 8:30 - 17:30)</div>
                                <div class="contact-info__phone contact-info__icon">
                                    <a href="tel:(028) 6288 7711">(028) 6288 7711                            </a>
                                </div>
                                <div class="contact-info__fax contact-info__icon">
                                    <a href="tel:(028) 6269 2012">(028) 6269 2012                            </a>
                                </div>
                                <div class="contact-info__mail contact-info__icon">
                                    <a href="mailto:contact@aeon.com.vn">contact@aeon.com.vn                            </a>
                                </div>
                            </div>
                            <div class="contact-info__item">
                                <div class="contact-info__title">Phòng truyền thông &amp;đối ngoại</div>
                                <div class="contact-info__phone contact-info__icon">
                                    <a href="tel:(033) 217 9797">(033) 217 9797                            </a>
                                </div>
                                <div class="contact-info__mail contact-info__icon">
                                    <a href="mailto:phongtruyenthong@aeon.com.vn">phongtruyenthong@aeon.com.vn                            </a>
                                </div>
                            </div>
                            <div class="contact-info__item">
                                <div class="contact-info__title">Phòng chăm sóc khách hàng</div>
                                <div class="contact-info__phone contact-info__icon">
                                    <a href="tel:1800888886">1800.888.886</a>
                                </div>
                                <div class="contact-info__mail contact-info__icon">
                                    <a href="mailto:contact@aeon.com.vn">contact@aeon.com.vn                            </a>
                                </div>
                            </div>
                            <div class="contact-info__item">
                                <div class="contact-info__title">Hotline mua hàng</div>
                                <div class="contact-info__phone contact-info__icon">
                                    <a href="tel:1800888699">1800.888.699</a>
                                </div>
                            </div>
                            <div class="contact-info__item">
                                <div class="contact-info__title">Liên hệ quảng cáo</div>
                                <div class="contact-info__mail contact-info__icon">
                                    <a href="mailto:booking.media@aeon.com.vn">booking.media@aeon.com.vn</a>
                                </div>
                                <div class="contact-info__phone contact-info__icon">
                                    <a href="tel:02862887711">028 6288 7711</a>
                                    - Ext: 730

                                </div>
                            </div>
                            <div class="contact-recruit__btn">
                                <a class="btn btn-main" href="/wp-content/uploads/2022/09/avn-media-package-092022.pdf" target="_blank">
                                    <span class="btn-txt" style="font-size: 14px;text-transform: inherit;">Hồ sơ năng lực của chúng tôi</span>
                                </a>
                                <style>
                                    #contact_info .contact-recruit__btn .btn {
                                        border: 1px solid #B31E8D;
                                    }
                                </style>
                            </div>
                        </div>
                        <style>
                            #contact_info .contact {
                                margin: 0;
                            }

                                #contact_info.contact .container {
                                    padding: 0;
                                }

                            #contact_info .contact-inner {
                                padding: 5rem 7rem;
                            }



                            #contact_info .contact-info {
                                padding-right: 4rem;
                            }

                            #contact_info .form-group {
                                margin-bottom: 20px
                            }

                            #contact_info h2.contact-share {
                                font-size: 23px;
                                margin-bottom: 10px;
                                text-transform: uppercase;
                            }

                            #contact_info .btn {
                                display: inline-block;
                                margin-bottom: 0;
                                font-weight: 400;
                                text-align: center;
                                vertical-align: middle;
                                -ms-touch-action: manipulation;
                                touch-action: manipulation;
                                cursor: pointer;
                                background-image: none;
                                border: 1px solid transparent;
                                white-space: nowrap;
                                padding: 6px 12px;
                                font-size: 14px;
                                line-height: 1.428571429;
                                border-radius: 4px;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                            }

                            #contact_info .mt-8 {
                                margin-top: 8px;
                            }

                            #contact_info .btn-w {
                                width: 170px;
                            }

                            #contact_info .btn-primary {
                                height: 50px;
                                cursor: pointer;
                                border-radius: 50px;
                                background-color: #b41f8e;
                                color: #fff;
                                border: 2px solid #b41f8e;
                                width: 260px;
                                max-width: 100%;
                                text-decoration: none;
                                transition: all .3s ease;
                                font-size: 15px;
                                letter-spacing: 2px;
                                overflow: hidden;
                                text-transform: uppercase;
                                font-weight: 600;
                                display: inline-block;
                                text-align: center;
                                position: relative;
                                z-index: 1;
                                padding: 2.05rem 1.4rem;
                            }

                                #contact_info .btn-primary:before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 1;
                                    transition: all .5s;
                                    opacity: 1;
                                    transform: translate(-100%);
                                    border-right-width: 1px;
                                    border-right-style: solid;
                                    background-color: #333;
                                    opacity: .2;
                                }

                            #contact_info .form-control {
                                border-color: transparent;
                                border-bottom-color: #cecece;
                                border-radius: 0;
                                padding-left: 0;
                                padding-right: 0
                            }

                                #contact_info .form-control, #contact_info .form-control:focus {
                                    -ms-box-shadow: none;
                                    box-shadow: none
                                }

                                    #contact_info .form-control:focus {
                                        border-color: transparent;
                                        border-bottom-color: #24abe0
                                    }

                            #contact_info .contact-select {
                                flex-direction: unset;
                            }

                            #contact_info .form-control {
                                display: block;
                                font-size: 14px;
                                line-height: 1.428571429;
                                color: #555
                            }

                            #contact_info .form-control {
                                width: 100%;
                                height: 34px;
                                padding: 6px 12px;
                                background-color: #fff;
                                background-image: none;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
                            }

                                #contact_info .form-control:focus {
                                    border-color: #66afe9;
                                    outline: 0;
                                }

                                #contact_info .form-control::-moz-placeholder {
                                    color: #999;
                                    opacity: 1
                                }

                                #contact_info .form-control:-ms-input-placeholder {
                                    color: #999
                                }

                                #contact_info .form-control::-webkit-input-placeholder {
                                    color: #999
                                }

                            #contact_info .contact-form textarea.form-control {
                                height: auto;
                                background: #FFF;
                            }

                            #contact_info .form-control {
                                border-color: transparent;
                                border-bottom-color: #cecece;
                                border-radius: 0;
                                padding-left: 0;
                                padding-right: 0
                            }

                            #contact_info .form-control, .form-control:focus {
                                -ms-box-shadow: none;
                                box-shadow: none
                            }

                                #contact_info .form-control:focus {
                                    border-color: transparent;
                                    border-bottom-color: #24abe0
                                }

                            #contact_info .row {
                                margin-left: -15px;
                                margin-right: -15px
                            }

                                #contact_info .row:after, .row:before {
                                    content: " ";
                                    display: table
                                }

                                #contact_info .row:after {
                                    clear: both
                                }

                            #contact_info .col-sm-6, #contact_info .col-sm-12 {
                                position: relative;
                                min-height: 1px;
                                padding-left: 15px;
                                padding-right: 15px;
                            }



                            /*add style of support page*/
                            #contact_info .contact-form {
                                border-radius: 0;
                                padding: 0;
                                box-shadow: none;
                                -webkit-box-shadow: none;
                                background-color: transparent;
                            }

                            #contact_info .contact {
                                padding: 0;
                                background-image: none;
                            }

                                #contact_info .contact .form-control {
                                    background-color: transparent;
                                }

                            #contact_info .section-form {
                                margin-bottom: 70px;
                            }

                            #contact_info .bg-pink {
                                background-color: #B60081;
                            }

                            #contact_info .bg-grey {
                                background-color: #f8f8f8;
                                font-style: italic;
                                padding: 20px;
                            }

                            #contact_info .text-white {
                                color: white;
                            }

                            #contact_info .text-small {
                                color: #fcba52;
                                font-weight: 600;
                            }

                            #contact_info .contact-form .form-control {
                                position: relative;
                                font-style: italic;
                                background-color: transparent;
                                padding-left: 30px;
                            }

                            #contact_info .pad-15 {
                                padding: 15px;
                            }

                            #contact_info .contact-select {
                                width: 100%;
                                border-radius: 18px;
                                -webkit-appearance: none;
                            }

                            #contact_info .sel-after {
                                position: relative;
                            }

                                #contact_info .sel-after::after {
                                    content: '';
                                    right: 15px;
                                    top: 10px;
                                    width: 10px;
                                    height: 10px;
                                    position: absolute;
                                    cursor: pointer;
                                    border-left: 1px solid #808080;
                                    border-bottom: 1px solid #808080;
                                    transform: rotate(-45deg);
                                    box-sizing: border-box;
                                }

                            #contact_info .mt-20 {
                                margin-top: 20px;
                            }

                            #contact_info .mt-8 {
                                margin-top: 8px;
                            }

                            #contact_info .text--right {
                                text-align: right;
                            }

                            #contact_info .btn-w {
                                width: 170px;
                            }

                            #contact_info .contact {
                                margin: 20px 0 0 10px;
                            }

                            #contact_info h2.contact-share {
                                position: relative;
                                font-weight: bold;
                            }

                                #contact_info h2.contact-share::after {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: -32px;
                                    height: 100%;
                                    width: 32px;
                                    background: #B60081;
                                    -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
                                    clip-path: polygon(100% 50%, 0 0, 0 100%);
                                }

                            #contact_info .pos-relative {
                                position: relative;
                            }

                                #contact_info .pos-relative input {
                                    font-size: 16px;
                                    color: #fff;
                                }

                            #contact_info .icon-form {
                                position: absolute;
                                top: 50%;
                                left: 3px;
                                color: white;
                                transform: translate(0,-50%);
                            }

                                #contact_info .icon-form i {
                                    font-size: 20px;
                                }

                            #contact_info .font-size20 {
                                font-size: 20px;
                                font-style: italic;
                                opacity: 0.5;
                            }

                            #contact_info .select-size {
                                font-size: 16px;
                            }

                            #contact_info .page-contact .success-message {
                                padding-bottom: 0;
                                font-weight: 600;
                                color: #b41f8e;
                            }

                            #contact_info textarea {
                                font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
                            }
                        </style>
                        <script type='text/javascript' src='//www.google.com/recaptcha/api.js?hl=vi&#038;ver=5.8.2' id='recaptcha-api-js'></script>
                        <div class="contact-bg contact-form" id="contact_form">
                            <form class="checking--form" action="https://www.aeon.com.vn/" method="post">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2 class="text-uppercase text-white bg-pink pad-15 contact-share">Chia sẻ cùng chúng tôi</h2>
                                        <div class="contact-form pad-15 bg-pink">
                                            <p class="text-white">Quý khách vui lòng nhập đầy đủ thông tin cần thiết. Chúng tôi sẽ liên hệ sớm nhất.</p>
                                            <div class="contact-pad">
                                                <div class="pos-relative">
                                                    <div class="icon-form">
                                                        <i class="fa fa-user" aria-hidden="true"></i>
                                                    </div>
                                                    <input class="form-control" name="contact_name" placeholder="Vui lòng nhập tên..." value="">
                                                </div>
                                                <div class="error-form">
                                                    <small class="text-small">&nbsp;</small>
                                                </div>
                                                <div class="pos-relative">
                                                    <div class="icon-form">
                                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                                    </div>
                                                    <input class="form-control" name="contact_phone" placeholder="+84 123 456 789" value="">
                                                </div>
                                                <div class="error-form">
                                                    <small class="text-small">&nbsp;</small>
                                                </div>
                                                <div class="pos-relative">
                                                    <div class="icon-form">
                                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                                    </div>
                                                    <input class="form-control" name="contact_email" placeholder="Yourmail@gmail.com" value="">
                                                </div>
                                                <div class="error-form">
                                                    <small class="text-small">&nbsp;</small>
                                                </div>
                                                <div class="mt-20 sel-after">
                                                    <select class="contact-select btn btn-rounded select-size" name="contact_mall">
                                                        <option value="" selected hidden disabled="disabled">Vui lòng chọn TTBHTH Aeon</option>
                                                        <option value="tpc">AEON Tân Phú Celadon                                    </option>
                                                        <option value="bdc">AEON Bình Dương Canary                                    </option>
                                                        <option value="lb">AEON Long Biên                                    </option>
                                                        <option value="bt">AEON Bình Tân                                    </option>
                                                        <option value="hd">AEON Hà Đông                                    </option>
                                                        <option value="hp">AEON Lê Chân Hải Phòng                                    </option>
                                                        <option value="t9">AEON The Nine                                    </option>
                                                        <option value="BD">AEON Bình Dương New City                                    </option>
                                                        <option value="AEONMaxValu">AEON MaxValu                                    </option>
                                                        <option value="AEONGlamBeautique">AEON Glam Beautique                                    </option>
                                                        <option value="AEONWellness">AEON Wellness                                    </option>
                                                        <option value="AEONDaiso">AEON Daiso                                    </option>
                                                        <option value="AEONPet">AEON Pet                                    </option>
                                                        <option value="AEONBicycle">AEON Bicycle                                    </option>
                                                        <option value="EC">Trang thương mại điện tử Aeon Eshop                                    </option>
                                                    </select>
                                                </div>
                                                <div class="error-form">
                                                    <small class="text-small">&nbsp;</small>
                                                </div>
                                                <div class="mt-20 sel-after">
                                                    <select class="contact-select form-contact btn btn-rounded select-size" name="contact_reason">
                                                        <option value="" selected hidden disabled="disabled">Vui lòng chọn lý do liên hệ</option>
                                                        <option value="ykdg">Ý kiến đóng góp                                    </option>
                                                        <option value="kn">Khiếu nại                                    </option>
                                                        <option value="tvtt">Tư vấn thông tin                                    </option>
                                                    </select>
                                                </div>
                                                <div class="error-form">
                                                    <small class="text-small">&nbsp;</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="contact">
                                            <div class="title">
                                                <input class="form-control font-size20" name="contact_subject" placeholder="Tiêu đề..." value="">
                                            </div>
                                            <div class="error-form">
                                                <small class="text-small">&nbsp;</small>
                                            </div>
                                            <div class="mt-8">
                                                <textarea class="form-control bg-grey" name="contact_content" rows="10" placeholder="Vui lòng nhập ý kiến..."></textarea>
                                            </div>
                                            <div class="error-form">
                                                <small class="text-small">&nbsp;</small>
                                            </div>
                                            <div class="g-recaptcha mt-8" data-sitekey="6Lf4dJ8UAAAAAFduaGyB4OG151QjjrkfBzs26ibi"></div>
                                            <div class="error-form">
                                                <small class="text-small">&nbsp;</small>
                                            </div>
                                            <div class="text--right mt-8">
                                                <button id="submit_btn" class="btn btn-primary btn-w">GỬI</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="sticky-sp sp-appear">
            <div class="sticky-row">
                <a class="sticky-col" href="/ung-dung-di-dong-aeon-vietnam/">
                    <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/sticky-app-sp.png" alt="" />
                </a>
                <a class="sticky-col" href="https://aeoneshop.com/">
                    <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/sticky-shop-sp.png" alt="" />
                </a>
            </div>
        </div>
    </main>
    <style type="text/css">
        .popup-app {
            position: absolute;
            content: "";
            top: 33px;
            right: 105px;
            width: 402px;
            height: 86%;
            font-size: 16px;
            max-width: 340px;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            filter: drop-shadow(0px 0px 10px #edbbd2)
        }

        .pupup-app__inner {
            display: flex;
            justify-content: space-between;
            align-items: center
        }

        .pa-item:not(:last-child) {
            padding-right: 20px
        }

        .pa-link:not(:last-child) {
            margin-bottom: 10px
        }

        .pa-link {
            text-align: center;
            padding: 10px 45px;
            border-radius: 50px;
            background-color: #b2278d
        }

            .pa-link a {
                color: #fff
            }

        .pa-close {
            position: absolute;
            top: -25px;
            right: 0;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer
        }

        .event {
            text-align: right;
            padding-right: 8rem;
            margin-top: 20px;
        }
    </style>
    <script>
        jQuery(document).ready(function ($) {
            $('.btn-app').on('click', function () {
                $('.popup-app').fadeToggle("slow");
            });
        });
        jQuery(document).ready(function ($) {
            $('.pa-close').on('click', () => {
                $('.popup-app').hide();
            }
            );
        });
    </script>
    <div class="container">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.2928541380025!2d-71.12082909999999!3d42.374440699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e377427d7f0199%3A0x5937c65cee2427f0!2zUXXhuqNuIFZp4buHdCBIYXJ2YWQ!5e0!3m2!1svi!2sca!4v1634150494998!5m2!1svi!2sca" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
    </div>
    <footer class="footer">

        <div class="container">

            <div class="footer-inner">
                <div class="footer-row">
                    <div class="footer-col">
                        <div class="footer-logo">
                            <a href="#">
                                <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/logo-footer-1.png" alt="" />
                            </a>
                            <a href="/">
                                <img src="~/Images/logoMallpng1.png" alt="" />
                            </a>
                        </div>
                        <div class="footer-txt">Công ty TNHH BabicuteMall Việt Nam thành lập và hoạt động theo Giấy chứng nhận đăng ký doanh nghiệp số 0311241512 do Uỷ ban nhân dân Thành phố Hồ Chí Minh cấp lần đầu tiên ngày 07/10/2011.</div>
                        <div class="footer-txt footer-phone">
                            Điện thoại: (028) 62887711 <span>|</span>
                            <br class="sp-appear" />Lĩnh vực kinh doanh: Bán lẻ
                        </div>
                    </div>
                    <div class="footer-col">
                        <div class="footer-txt">Địa chỉ tên miền: www.babicute.com.vn</div>
                        <div class="footer-txt">Người chịu trách nhiệm: Phòng Marketing</div>
                        <div class="footer-txt">Bản quyền thuộc BabicuteMall Việt Nam.</div>
                        <div class="footer-txt">Website: www.babicutemall.com.vn thuộc quyền sở hữu của Công ty TNHH BabicuteMall Việt Nam.</div>
                    </div>
                    <div class="footer-col">
                        <div class="footer-social">
                            <a class="social-item" href="https://www.facebook.com/AeonVietnamPage/" title="Facebook" target="_blank">
                                <img src="~/Images/fb.jpg" alt="" width="25" height="25" style="border-radius:2px;">
                            </a>
                            <a class="social-item" href="https://www.instagram.com/aeonvn.lifestyle/" title="Instagram" target="_blank">
                                <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/icon/Instagram.svg" alt="">
                            </a>
                            <a class="social-item" href="https://www.youtube.com/channel/UChod2LDWQx0homJ690IaZ_g" title="YouTube" target="_blank">
                                <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/icon/YouTube.svg" alt="">
                            </a>
                            <a class="social-item" href="https://www.tiktok.com/aeonvietnamofficial?" title="Tiktok" target="_blank">
                                <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/icon/Tiktok.svg" alt="">
                            </a>
                        </div>
                        <a href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=51439" target="_blank">
                            <img src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/img/bct.png" alt="" />
                        </a>
                        <div class="footer-copyright">Copyright © BABICUTEMALL VIETNAM Co., Ltd</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
    <script src="https://afarkas.github.io/lazysizes/lazysizes.min.js" integrity="sha384-3gT/vsepWkfz/ff7PpWNUeMzeWoH3cDhm/A8jM7ouoAK0/fP/9bcHHR5kHq2nf+e" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha384-OOQxAlvDeToeGLa7+PiUtbtpQyESK8Ej4fNM8foz5VaMpO8TCp1vbi2HIOIzMurt" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify.min.js" integrity="sha384-XfAd/+mEhljko1w/xpMz8Bus1OcLvGuqKoBOtSMzOaY5flEEQOR9KMTpzuFdT6e2" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify-mobile.min.js" integrity="sha384-1Dq9Nm8goDHHiNU8/Q0Oaon/BcM2io2pgYjv5kq7ldIvI05euiYCNmTPFvC0TN8Z" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.aeon.com.vn/wp-content/themes/aeon/assets/js/app.min.js?ver=20201027"></script>
    <script type="text/javascript">
        $(function () {
            $('.promotion-from-aeon').slick({
                dots: true,
                arrows: false,
                "autoplay": true,
                "autoplaySpeed": 5000,
            });
        });
    </script>
    <script>
        var vw = $(window).width()
        var menuOpen = false
        var winPos = 0;
        let $el = $('[data-toggles="collapse"]')
        $('.btn-menu__icon').on('click tap', function () {
            $(this).find('.line').removeClass('disableAnimation');
            $(this).toggleClass('active');
            $('html').toggleClass('menu-open');
            if (menuOpen) {
                $('.submenu-header').removeClass('open')
            }
            menuOpen = !menuOpen
        });

        function openSubmenu() {
            var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            if (!isMobile) {
                $('.has-sub-menu').hover(function () {
                    $(this).addClass('hover')
                }, function () {
                    $(this).removeClass('hover')
                })
            }
            $el.on('click', function (e) {
                e.preventDefault()
                if (vw < 1200) {
                    var target = $(this).attr('href')
                    $(this).toggleClass('expanded')
                    $(target).toggleClass('open')
                    $(target).find('.sub-menu').removeClass('open')
                    $(target).find('.icon-down-arrow').removeClass('expanded')
                }
            });
        }

        function menuScroll() {
            winPos >= 57 ? $('html').addClass('menu-fixed') : $('html').removeClass('menu-fixed')
        }

        $(window).on('scroll', function () {
            winPos = window.pageYOffset
            menuScroll()
        })

        openSubmenu();
    </script>
    <link rel='stylesheet' id='font-awesome-css' href='https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css?ver=5.8.2' type='text/css' media='all' />
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.7' id='regenerator-runtime-js'></script>
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0' id='wp-polyfill-js'></script>
    <script type='text/javascript' id='contact-form-7-js-extra'>
        /* <![CDATA[ */
        var wpcf7 = {
            "api": {
                "root": "https:\/\/www.aeon.com.vn\/wp-json\/",
                "namespace": "contact-form-7\/v1"
            }
        };
                        /* ]]> */
    </script>
    <script type='text/javascript' src='https://www.aeon.com.vn/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.5.3' id='contact-form-7-js'></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
